@keyframes fadeIn{
  from{
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
body {
  font-family: Poppins, sans-serif;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

header img{
  width: 100%;
  height: auto;
  animation: 3s fadeIn;
}

.nav_links {
  display: flex;
  flex-direction: column;

}



.pricing{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;

}
.card{
  width: 100%;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 100%;
}


@media all and (min-width: 700px){



  header {
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  }


  header img {
 width: 400px;
  }

  .nav_links {
  flex-wrap: nowrap;
  flex-direction: row;
  }


  .card {
  width: 300px;

  }


  .gallery img {
  width: 300px;
  }
}

@media (prefers-reduced-motion){ 
  header img{
    animation:none
  }

}